@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background-color: #f8f9fa;
}

.container-fluid {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;

  background-color: #f8f9fa;

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
}
.welcome--page__entrance {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 90%;
}

.back-btn {
  text-decoration: none;
  color: black;
}
.back-btn__background {
  background-color: black;
}
.back-btn__background:hover {
  cursor: pointer;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: all 0.4s ease;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: all 0.4s ease;
}
@media screen and (max-width: 900px) {
  .welcome--page__entrance {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: max-content;
  }
}
